<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,92}</string>
                <key>spriteSourceSize</key>
                <string>{62,92}</string>
                <key>textureRect</key>
                <string>{{777,282},{62,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Atk1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,99}</string>
                <key>spriteSourceSize</key>
                <string>{77,99}</string>
                <key>textureRect</key>
                <string>{{409,214},{77,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Atk1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{184,114},{112,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Atk1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{388,327},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Atk1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,92}</string>
                <key>spriteSourceSize</key>
                <string>{62,92}</string>
                <key>textureRect</key>
                <string>{{777,282},{62,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Atked1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{62,97}</string>
                <key>textureRect</key>
                <string>{{419,106},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Atked1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{727,478},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Atked1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{800,472},{90,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlownUp1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,80}</string>
                <key>spriteSourceSize</key>
                <string>{95,80}</string>
                <key>textureRect</key>
                <string>{{555,193},{95,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlownUp1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{554,290},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlownUp1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{748,378},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlownUp1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,83}</string>
                <key>spriteSourceSize</key>
                <string>{92,83}</string>
                <key>textureRect</key>
                <string>{{900,58},{92,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetUp1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,45}</string>
                <key>spriteSourceSize</key>
                <string>{112,45}</string>
                <key>textureRect</key>
                <string>{{259,0},{112,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GetUp1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,69}</string>
                <key>spriteSourceSize</key>
                <string>{88,69}</string>
                <key>textureRect</key>
                <string>{{919,318},{88,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GetUp1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{832,188},{91,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GetUp1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,93}</string>
                <key>spriteSourceSize</key>
                <string>{120,93}</string>
                <key>textureRect</key>
                <string>{{62,248},{120,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GetUp1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{155,233},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetUp1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,93}</string>
                <key>spriteSourceSize</key>
                <string>{106,93}</string>
                <key>textureRect</key>
                <string>{{316,221},{106,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GetUp1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,79}</string>
                <key>spriteSourceSize</key>
                <string>{106,79}</string>
                <key>textureRect</key>
                <string>{{340,108},{106,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GetUp1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{73,87}</string>
                <key>textureRect</key>
                <string>{{922,231},{73,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetUp1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,90}</string>
                <key>spriteSourceSize</key>
                <string>{67,90}</string>
                <key>textureRect</key>
                <string>{{889,472},{67,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GetUp1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{58,97}</string>
                <key>textureRect</key>
                <string>{{433,0},{58,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,95}</string>
                <key>spriteSourceSize</key>
                <string>{58,95}</string>
                <key>textureRect</key>
                <string>{{685,95},{58,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{58,97}</string>
                <key>textureRect</key>
                <string>{{481,97},{58,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{772,188},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{58,97}</string>
                <key>textureRect</key>
                <string>{{491,0},{58,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{58,97}</string>
                <key>textureRect</key>
                <string>{{399,427},{58,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{60,95}</string>
                <key>textureRect</key>
                <string>{{635,191},{60,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{818,94},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{59,93}</string>
                <key>textureRect</key>
                <string>{{609,480},{59,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,93}</string>
                <key>spriteSourceSize</key>
                <string>{58,93}</string>
                <key>textureRect</key>
                <string>{{900,0},{58,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{59,93}</string>
                <key>textureRect</key>
                <string>{{668,480},{59,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{840,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirAtk1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,68}</string>
                <key>spriteSourceSize</key>
                <string>{77,68}</string>
                <key>textureRect</key>
                <string>{{532,505},{77,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirAtk1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,76}</string>
                <key>spriteSourceSize</key>
                <string>{118,76}</string>
                <key>textureRect</key>
                <string>{{64,0},{118,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,65}</string>
                <key>textureRect</key>
                <string>{{267,442},{104,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{839,279},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirAtk1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,67}</string>
                <key>spriteSourceSize</key>
                <string>{102,67}</string>
                <key>textureRect</key>
                <string>{{332,431},{102,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{839,345},{79,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirAtk1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,64}</string>
                <key>spriteSourceSize</key>
                <string>{104,64}</string>
                <key>textureRect</key>
                <string>{{324,327},{104,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,61}</string>
                <key>spriteSourceSize</key>
                <string>{79,61}</string>
                <key>textureRect</key>
                <string>{{831,411},{79,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirAtk1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{0,124},{124,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,67}</string>
                <key>spriteSourceSize</key>
                <string>{106,67}</string>
                <key>textureRect</key>
                <string>{{366,0},{106,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{918,406},{79,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirAtk1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,64}</string>
                <key>spriteSourceSize</key>
                <string>{118,64}</string>
                <key>textureRect</key>
                <string>{{64,118},{118,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,119}</string>
                <key>spriteSourceSize</key>
                <string>{71,119}</string>
                <key>textureRect</key>
                <string>{{66,368},{71,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,119}</string>
                <key>spriteSourceSize</key>
                <string>{71,119}</string>
                <key>textureRect</key>
                <string>{{137,368},{71,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,114}</string>
                <key>spriteSourceSize</key>
                <string>{55,114}</string>
                <key>textureRect</key>
                <string>{{140,0},{55,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,124}</string>
                <key>spriteSourceSize</key>
                <string>{62,124}</string>
                <key>textureRect</key>
                <string>{{0,248},{62,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{74,90}</string>
                <key>textureRect</key>
                <string>{{922,141},{74,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,54}</string>
                <key>spriteSourceSize</key>
                <string>{110,54}</string>
                <key>textureRect</key>
                <string>{{208,345},{110,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{95,487},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,112}</string>
                <key>spriteSourceSize</key>
                <string>{64,112}</string>
                <key>textureRect</key>
                <string>{{195,0},{64,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,107}</string>
                <key>spriteSourceSize</key>
                <string>{62,107}</string>
                <key>textureRect</key>
                <string>{{262,335},{62,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{183,487},{85,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,61}</string>
                <key>spriteSourceSize</key>
                <string>{109,61}</string>
                <key>textureRect</key>
                <string>{{255,226},{109,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{0,495},{78,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LayDown1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,56}</string>
                <key>spriteSourceSize</key>
                <string>{115,56}</string>
                <key>textureRect</key>
                <string>{{128,118},{115,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LayDown1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{283,112},{109,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LayDown1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,62}</string>
                <key>spriteSourceSize</key>
                <string>{108,62}</string>
                <key>textureRect</key>
                <string>{{304,0},{108,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LayDown1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,36}</string>
                <key>spriteSourceSize</key>
                <string>{123,36}</string>
                <key>textureRect</key>
                <string>{{0,372},{123,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LayDown1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,30}</string>
                <key>spriteSourceSize</key>
                <string>{123,30}</string>
                <key>textureRect</key>
                <string>{{36,372},{123,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{607,96},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,96}</string>
                <key>spriteSourceSize</key>
                <string>{75,96}</string>
                <key>textureRect</key>
                <string>{{457,427},{75,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,96}</string>
                <key>spriteSourceSize</key>
                <string>{65,96}</string>
                <key>textureRect</key>
                <string>{{549,0},{65,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,96}</string>
                <key>spriteSourceSize</key>
                <string>{65,96}</string>
                <key>textureRect</key>
                <string>{{532,409},{65,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{634,288},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{743,94},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{770,0},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{692,0},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,96}</string>
                <key>spriteSourceSize</key>
                <string>{69,96}</string>
                <key>textureRect</key>
                <string>{{486,194},{69,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{484,313},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{614,0},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{597,385},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,94}</string>
                <key>spriteSourceSize</key>
                <string>{69,94}</string>
                <key>textureRect</key>
                <string>{{708,284},{69,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,94}</string>
                <key>spriteSourceSize</key>
                <string>{77,94}</string>
                <key>textureRect</key>
                <string>{{695,190},{77,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{674,383},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,96}</string>
                <key>spriteSourceSize</key>
                <string>{68,96}</string>
                <key>textureRect</key>
                <string>{{539,97},{68,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MonkGirl.png</string>
            <key>size</key>
            <string>{997,573}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bd11d0c92774f15794781ac24a65022:8606ee60ad6f31ae3d83c8f9fd35f0b6:7b088363a1f16e4f4ff313aecc52227b$</string>
            <key>textureFileName</key>
            <string>MonkGirl.png</string>
        </dict>
    </dict>
</plist>
