<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_00@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,283}</string>
                <key>spriteSourceSize</key>
                <string>{492,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{492,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_01@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,283}</string>
                <key>spriteSourceSize</key>
                <string>{492,283}</string>
                <key>textureRect</key>
                <string>{{495,1},{492,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{988,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:139e91e37896fc18f399db23b949f6ef:3eb3da2ae451e804babdfbc241dea716:c583b50ea4ff931494970feffd84ac43$</string>
            <key>textureFileName</key>
            <string>billet.png</string>
        </dict>
    </dict>
</plist>
