<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{176,366},{74,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Atk1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{0,375},{74,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Atk1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{85,388},{74,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Atk1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{0,449},{74,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Atk1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{0,375},{74,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Atk1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{85,462},{74,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Atked1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{170,451},{47,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Atked1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{170,498},{47,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{190,194},{56,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{185,280},{56,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{90,332},{56,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{185,280},{56,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirAtk1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,95}</string>
                <key>textureRect</key>
                <string>{{104,43},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,95}</string>
                <key>textureRect</key>
                <string>{{0,86},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,95}</string>
                <key>textureRect</key>
                <string>{{95,106},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,95}</string>
                <key>textureRect</key>
                <string>{{0,149},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,95}</string>
                <key>textureRect</key>
                <string>{{104,43},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,95}</string>
                <key>textureRect</key>
                <string>{{95,169},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtk1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,95}</string>
                <key>textureRect</key>
                <string>{{0,212},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtked1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{170,451},{47,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirAtked1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,82}</string>
                <key>spriteSourceSize</key>
                <string>{47,82}</string>
                <key>textureRect</key>
                <string>{{170,498},{47,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,104}</string>
                <key>spriteSourceSize</key>
                <string>{43,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,104}</string>
                <key>spriteSourceSize</key>
                <string>{43,104}</string>
                <key>textureRect</key>
                <string>{{104,0},{43,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,104}</string>
                <key>spriteSourceSize</key>
                <string>{43,104}</string>
                <key>textureRect</key>
                <string>{{208,0},{43,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InAirIdle1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,104}</string>
                <key>spriteSourceSize</key>
                <string>{43,104}</string>
                <key>textureRect</key>
                <string>{{104,0},{43,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,104}</string>
                <key>spriteSourceSize</key>
                <string>{43,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InAirIdle1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,104}</string>
                <key>spriteSourceSize</key>
                <string>{43,104}</string>
                <key>textureRect</key>
                <string>{{0,43},{43,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{199,104},{50,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walking_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{95,232},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{0,275},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{90,282},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{0,325},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{90,282},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{0,275},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walking_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{95,232},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UltramanTiga.png</string>
            <key>size</key>
            <string>{252,545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a857ca23ea86a140850bef35b0258da:88d012415ccd7dd313108f39b071523a:1c886ab62fdbd8d1a0c538b1b57b3521$</string>
            <key>textureFileName</key>
            <string>UltramanTiga.png</string>
        </dict>
    </dict>
</plist>
