<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{0,506},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{0,577},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{67,506},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{67,577},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{134,506},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{134,577},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{355,503},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{426,503},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{355,570},{71,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{422,570},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{462,0},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{462,88},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{462,176},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{462,264},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{0,304},{88,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{88,304},{88,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{176,304},{88,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{264,304},{88,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{352,304},{88,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,45}</string>
                <key>spriteSourceSize</key>
                <string>{88,45}</string>
                <key>textureRect</key>
                <string>{{456,352},{88,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{154,0},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{308,0},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{0,152},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{154,152},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{308,152},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{0,352},{154,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{152,349},{154,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{201,503},{154,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,152}</string>
                <key>textureRect</key>
                <string>{{304,349},{154,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MeleeExplosions.png</string>
            <key>size</key>
            <string>{507,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c1498ee6f30bdad4abeb6a9f6af8367:4c81e1a1720f2ad3535ac93f1b42991f:d9b184ec81b83b14db5cf31d298727df$</string>
            <key>textureFileName</key>
            <string>MeleeExplosions.png</string>
        </dict>
    </dict>
</plist>
