<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaseBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,44}</string>
                <key>spriteSourceSize</key>
                <string>{232,44}</string>
                <key>textureRect</key>
                <string>{{1460,751},{232,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButtonActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,44}</string>
                <key>spriteSourceSize</key>
                <string>{94,44}</string>
                <key>textureRect</key>
                <string>{{1583,323},{94,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButtonNegative.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{1525,608},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,71}</string>
                <key>spriteSourceSize</key>
                <string>{299,71}</string>
                <key>textureRect</key>
                <string>{{1525,651},{299,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,258}</string>
                <key>spriteSourceSize</key>
                <string>{254,258}</string>
                <key>textureRect</key>
                <string>{{1767,117},{254,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FindingPlayer_DecorationDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,114}</string>
                <key>spriteSourceSize</key>
                <string>{608,114}</string>
                <key>textureRect</key>
                <string>{{1,796},{608,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FindingPlayer_DecorationUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,114}</string>
                <key>spriteSourceSize</key>
                <string>{608,114}</string>
                <key>textureRect</key>
                <string>{{1222,1},{608,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FindingPlayer_PlayerLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,200}</string>
                <key>spriteSourceSize</key>
                <string>{344,200}</string>
                <key>textureRect</key>
                <string>{{1114,764},{344,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FindingPlayer_PlayerRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,210}</string>
                <key>spriteSourceSize</key>
                <string>{344,210}</string>
                <key>textureRect</key>
                <string>{{647,779},{344,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FindingPlayer_vs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{118,134}</string>
                <key>textureRect</key>
                <string>{{1637,236},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameRule_Blackboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,793}</string>
                <key>spriteSourceSize</key>
                <string>{644,793}</string>
                <key>textureRect</key>
                <string>{{1,1},{644,793}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameRule_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,119}</string>
                <key>spriteSourceSize</key>
                <string>{210,119}</string>
                <key>textureRect</key>
                <string>{{993,779},{210,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameRule_Decoration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{543,117}</string>
                <key>spriteSourceSize</key>
                <string>{543,169}</string>
                <key>textureRect</key>
                <string>{{1222,117},{543,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_HighScoreTreasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{1162,359},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_InfoBG.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{424,72}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,912},{424,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_Joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1805,923},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_Joystick_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1928,849},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_LowScoreTreasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1952,580},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_ResultPanel_AgainButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,60}</string>
                <key>spriteSourceSize</key>
                <string>{105,60}</string>
                <key>textureRect</key>
                <string>{{1698,916},{105,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_ResultPanel_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,272}</string>
                <key>spriteSourceSize</key>
                <string>{287,272}</string>
                <key>textureRect</key>
                <string>{{1663,377},{287,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_ResultPanel_HomeButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,60}</string>
                <key>spriteSourceSize</key>
                <string>{105,60}</string>
                <key>textureRect</key>
                <string>{{1842,783},{105,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_StatusBar_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,141}</string>
                <key>spriteSourceSize</key>
                <string>{359,141}</string>
                <key>textureRect</key>
                <string>{{1222,323},{359,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_StatusBar_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,141}</string>
                <key>spriteSourceSize</key>
                <string>{357,141}</string>
                <key>textureRect</key>
                <string>{{1162,466},{357,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_Tower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{130,189}</string>
                <key>spriteSourceSize</key>
                <string>{132,189}</string>
                <key>textureRect</key>
                <string>{{1826,651},{130,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,168}</string>
                <key>spriteSourceSize</key>
                <string>{424,168}</string>
                <key>textureRect</key>
                <string>{{647,609},{424,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login_Pacman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,513}</string>
                <key>spriteSourceSize</key>
                <string>{366,513}</string>
                <key>textureRect</key>
                <string>{{647,359},{248,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Players_Avatar1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1383,609},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_Avatar2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1521,466},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_Baseball.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{1162,417},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_arrowTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{76,84}</string>
                <key>textureRect</key>
                <string>{{1842,845},{76,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PopupBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,153}</string>
                <key>spriteSourceSize</key>
                <string>{308,153}</string>
                <key>textureRect</key>
                <string>{{1073,609},{308,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultPanel_Bg1v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,356}</string>
                <key>spriteSourceSize</key>
                <string>{573,356}</string>
                <key>textureRect</key>
                <string>{{647,1},{573,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultPanel_Copper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,42}</string>
                <key>spriteSourceSize</key>
                <string>{206,42}</string>
                <key>textureRect</key>
                <string>{{1506,751},{206,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ResultPanel_Gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,43}</string>
                <key>spriteSourceSize</key>
                <string>{207,43}</string>
                <key>textureRect</key>
                <string>{{427,912},{207,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultPanel_Iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,39}</string>
                <key>spriteSourceSize</key>
                <string>{201,39}</string>
                <key>textureRect</key>
                <string>{{1952,377},{201,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ResultPanel_Silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,85}</string>
                <key>spriteSourceSize</key>
                <string>{413,85}</string>
                <key>textureRect</key>
                <string>{{1222,236},{413,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Verification_Code.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,56}</string>
                <key>spriteSourceSize</key>
                <string>{189,56}</string>
                <key>textureRect</key>
                <string>{{1832,1},{189,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Verification_Code_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,56}</string>
                <key>spriteSourceSize</key>
                <string>{189,56}</string>
                <key>textureRect</key>
                <string>{{1832,59},{189,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WhiteStars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,112}</string>
                <key>spriteSourceSize</key>
                <string>{268,112}</string>
                <key>textureRect</key>
                <string>{{1550,724},{268,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1949,783},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,59}</string>
                <key>spriteSourceSize</key>
                <string>{146,59}</string>
                <key>textureRect</key>
                <string>{{1550,916},{146,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,76}</string>
                <key>spriteSourceSize</key>
                <string>{290,76}</string>
                <key>textureRect</key>
                <string>{{1550,838},{290,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuiElements_0.png</string>
            <key>size</key>
            <string>{2022,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5e4012d3a559f9501f4cb19a7bea3c5:821d635fecb489cec5f6ffd15d091ea2:dc9a5be97839fbd50fd8575bd48970fd$</string>
            <key>textureFileName</key>
            <string>GuiElements_0.png</string>
        </dict>
    </dict>
</plist>
