<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueEyePacman-Bottom-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-Bottom-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-BottomLeft-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1005},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-BottomLeft-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1507},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-BottomRight-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{503,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-BottomRight-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1005,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-Left-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1507,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-Left-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{503,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-Right-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{503,1005},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-Right-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{503,1507},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-Top-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1005,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-Top-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1507,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-TopLeft-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1005,1005},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-TopLeft-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1005,1507},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-TopRight-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1507,1005},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueEyePacman-TopRight-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1507,1507},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bulldozer-blue.png</string>
            <key>size</key>
            <string>{2008,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b97cacd69ffb6f4dbe8b4351048601a2:fb0cecc51d52d2e22c2f2a4a68f5cf58:996337891ef72ef6069c01602a72bead$</string>
            <key>textureFileName</key>
            <string>bulldozer-blue.png</string>
        </dict>
    </dict>
</plist>
